:root {
  --primary-color: #000;
  --btn_orange: #FB8E0B;
  --header: #1B1C20;
  --body: #383A47;
  --text3: #797B89;
  --text4: #C6C8D3;
  --one: #474958;
  --two: #E8E9ED;
  --three: #F8F8FA;
  --p1: #FB8E0B;
  --p2: #FD6003;
  --margin-all: 21px 152px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arvo", serif;
  text-decoration: none;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: var(--margin-all);
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

ul li {
  list-style: none;
}

.pages ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  gap: 53px;
}

.buttons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--header);
}

a.btn-text {
  width: 167px;
  height: 50px;
  background: var(--p1);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  color: #fff;
}

.bg-img img {
  width: 100%;
  height: auto;
}

.text h3 {
  font-size: 50px;
  margin-bottom: 29px;
}

section.bg {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.text {
  width: 50%;

}

.text-line {
  margin-bottom: 29px;
}

.bg-img {
  width: 50%;
}

a.cta {
  height: 56px;
  width: 220px;
  background: var(--p1);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  color: #fff;
}

.features h3 {
  text-align: center;
  margin-bottom: 46px;
}

.features {
  margin: 0 152px;
  padding: 0 15px;
  margin-bottom: 65px;
}


.f1text {
  line-height: 30px;
}

.feature3 {
  display: flex;
  gap: 65px;
}

.f1,
.f2,
.f3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

p.small-text {
  margin-top: 5px;
}

.selling {
  margin: var(--margin-all);
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8FA;
  gap: 35px;
}

.selling h3 {
  font-size: 50px;
  margin-bottom: 29px;
}

.selling-right {
  width: 50%;
  height: 509px;
  font-family: "DM Sans", sans-serif;
}

.selling-left {
  width: 50%;
}

.chat {
  background: #F7F8FA;
  width: auto;
  font-size: 22px;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  height: auto;
  padding: 12px;
}

.first-text-box {
  display: flex;
  align-items: center;
  /* justify-content: stretch; */
  gap: 20px;
  margin-top: 27px;
  margin-left: 13px;
}

.selling-right {
  background: #fff;
  box-shadow: 0 0 50px #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
}

.bgorange {
  background: var(--p2);
  padding: 10px 44px 10px 13px;
  margin-left: 61px;
  margin-top: 30px;
}

.second-text-box img {
  float: right;
  margin-right: 13px;
  margin-left: 28px;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: var(--body);
  padding: 7px;
}

.ti {
  border-radius: 4px;
  height: 44px;
  width: 100%;
  margin-top: 23px;
  padding: 16px;
  font-size: 18px;
}

.text-input {
  text-align: center;
}

.bgw {
  background: #fff;
}

.clients {
  background-image: url(./bg2.png);
  background-size: 100%;
  /* content: ''; */
  text-align: center;
  background-position: center;
  padding: 58px 0;
}

.clients h1 {
  font-size: 45px;
  color: var(--three);
  margin-bottom: 35px;
}

.cards {
  display: flex;
  gap: 115px;
  max-width: 1440px;
  margin: 0 129px;
}

.card1 {
  display: flex;
}

.card1 {
  background-color: #fff;
  width: 600px;
  border-radius: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  /* margin: 0 auto; */
  position: relative;
}

.card2 {
  background-color: #fff;
  width: 600px;
  border-radius: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.card1 h4 {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--p2);
}
.card2 h4 {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--p2);
}

.card1::before{
  content: '';
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid white;
  transform: rotate(90deg);
  position: absolute;
  bottom: -26px;
  left: 46%;
}
.clients{
  font-family: "DM Sans", sans-serif;
}